body {
	background-image: url(images/background.jpeg);
}

.a {
	font-family: 'Charmonman', cursive;
	font-size: 75px;
	text-align: center;
}

div h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: white;
}

/*.contenedor {
	width: 800px;
	margin: auto;
	display: flex;
	justify-content: center;
}*/

.paint {
	margin-bottom: 40px;
	border: 10px solid rgba(255, 255, 255, 0.9)!important;;
	border-radius: 10px;
}

img {
	transition: 1s;
	opacity: 0;
	/*Esta propiedad object-fit: hace que al cambiar el tamaño 
	de la imágen arbitrariamente tome la mejor disposición
	y trate de no desformarse al máximo*/  
	object-fit: cover;
	width: 100%;
	/*Para Que la imagen entre por el lado izquierdo. En su canvas
	que en este caso es FIGURE se debe ocultar lo que se sale de él
	para poder dar el efecto (overflow: hidden;) 
	y en img.b-loaded ponemos left: 0*/
	position: relative;
	left: -40%;
}

img.b-loaded{
	left: 0;
	opacity: 1;
}

figure {
	overflow: hidden;
	background-image: url('images/Spinner.gif');
	background-repeat: no-repeat;
	background-position: center;
	max-width: 800px;
	margin: 0 auto;
}

@media screen and (max-width:1000px){
	.a {
		font-size: 65px;
	}
  }

@media screen and (max-width:850px){
	.a {
		font-size: 60px;
	}
  }

@media screen and (max-width:775px){
	.a {
		font-size: 55px;
	}
  }

@media screen and (max-width:580px){
	.a {
		font-size: 40px;
	}
  }

@media screen and (max-width:470px){
	.a {
		font-size: 30px;
	}
  }